@model BusinessLayer.Recipe

@{
    ViewData["Title"] = "Details";
}

<div id="_body">
    <h4>@Html.DisplayFor(x => x.Title)</h4>

    <hr />
    <div class="row d-flex justify-content-around">
        <div class="col-md-8 recipe-container-details">
            <div class="recipe-details-container-img">
                @{
                    var base64 = Convert.ToBase64String(Model.Banner);
                    var Image = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@Image" style="width: 80%" />
                }
            </div>
            <div class="recipe-details-container-info">
                <div class="rec-desc">
                    <p>@Html.DisplayFor(x => x.Description)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rec-info">
            <p id="instr">@Html.DisplayFor(x => x.Instructions)</p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<style>
    .recipe-container-details{
        display: flex;
    }
    .recipe-details-container-img{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 55%;
    }
    .recipe-details-container-info{
        display:flex;
        align-items: center;
        width: 45%;
    }
</style>

<script>
    document.getElementById('_body').addEventListener('load', loadData());

    function loadData(){
        console.log('mazna');
        console.log(document.getElementById('instr').value);
        console.log(document.getElementById('instr').innerHTML);
        document.getElementById('instr').innerHTML = document.getElementById('instr').innerText
    }
</script>