@using BusinessLayer;
@model FIlteredRecipes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCApplication.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header style="margin-bottom: 0;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
            <div class="container-fluid" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="height:50px;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">View All Recipies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">View All Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Create">TestController</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <form class="sidebar" asp-action="Index" style="display:flex; flex-direction:column; justify-content:space-between;padding: 1%;padding-bottom:150px;">
        <div class="sidebar-filters" style="width: 80%;">
            <h2 style="font-size:1.5em;">Filter your search</h2>
            <ul style="margin-top:45px;">
                <li class="filter-type">
                    <h3 class="filter-type-title">By Category</h3>
                    <ul class="filter-type-content" style="font-size:1.15em;">
                        @{
                            int counter = 0;
                        }
                        @foreach (Category c in Model.Categories)
                        {
                            <li class="ftc-item">
                                <input class="inpt-rad" type="radio" name="category" id="cat-@counter">
                                <label class="inpt-label" for="cat-@counter" id="label-@counter">@c.Name</label>
                            </li>
                            counter++;
                        }
                        <input type="hidden" asp-for="CategoryForRecipes.Name" id="inpt-for-cat" />
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-submit">
            <input type="submit" value="Filter" class="btn btn-primary">
        </div>
    </form>
    <div class="container" style="width: 83%;margin-left:17%;z-index: -2;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="z-index: 2;background-color:white;">
        <div class="container" style="margin-left: 0;">
            &copy; 2024 - MVCApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<style>
    a.navbar-brand {
      white-space: normal;
      text-align: center;
      word-break: break-all;
    }

    a {
      color: #0077cc;
    }

    .btn-primary {
      color: #fff;
      background-color: #1b6ec2;
      border-color: #1861ac;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: #fff;
      background-color: #1b6ec2;
      border-color: #1861ac;
    }

    .border-top {
      border-top: 1px solid #e5e5e5;
    }
    .border-bottom {
      border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
      box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
      font-size: 1rem;
      line-height: inherit;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap;
      line-height: 60px;
    }

</style>
<script>
    var allInpts = document.getElementsByClassName("inpt-rad");
    var allLabels = document.getElementsByClassName("inpt-label");
    console.log(allInpts);
    console.log(allLabels[0]);
    for (let i = 0; i < allInpts.length; i++){
        console.log(i);
        allInpts[i].addEventListener('click', () => {
            var curLabel = document.getElementById('label-'+i);
            document.getElementById('inpt-for-cat').value = curLabel.innerHTML;
        });
    }
</script>
</html>
